fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlmodel==0.0.22
requests==2.32.3
python-dotenv==1.0.1
apscheduler==3.10.4
jinja2==3.1.4
pydantic-settings==2.6.1
pytz==2024.1
itsdangerous==2.2.0
python-multipart==0.0.9

